.no-underline {
  &:hover {
    text-decoration: none;
  }
}

.clickable {
  cursor: pointer;
}

.grabbable {
  cursor: grab;
}

.modal-backdrop {
  opacity: 0.5 !important;
}

.btn-dark-blue {
  background-color: #0e5da4;
  padding: 7px 20px;
  border-radius: 50px;
  color: white;
  text-align: center;
}
